@page "/"
<h1>
    BlazorFileSaver.Sample <a href="https://github.com/IvanJosipovic/BlazorFileSaver"><img src="GitHub-Mark-64px.png" /> GitHub</a>
</h1>
<input type="text" bind="@FileName" />
<buton onclick="@Save" class="btn btn-primary">Save</buton>

<textarea class="form-control" type="text" bind="@Data" rows="20"></textarea>

@functions {
    [Inject] private IBlazorFileSaver BlazorFileSaver { get; set; }
    private string FileName { get; set; } = "Sample.txt";

    private string Data { get; set; } = "Sample Text";

    private async Task Save()
    {
        await BlazorFileSaver.SaveAs(FileName, Data);
    }
}