@page "/"
@using Blazor.FileSaver
<h1>Blazor.FileSaver.Sample</h1>

<input type="text" bind="@FileName" />
<buton onclick="@Save" class="btn btn-primary">Save</buton>

<textarea class="form-control" type="text" id="Data" bind="@Data" rows="20" spellcheck="false"></textarea>

@functions {
    private string FileName { get; set; } = "Sample.txt";

    private string Data { get; set; } = "Sample Text";

    private async Task Save()
    {
        await BlazorFileSaver.SaveAs(FileName, Data);
    }
}